{% extends 'base.html' %}
{% load static %}
{% block content %}



    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Change Password</h1>
            <div class="d-inline-flex mb-lg-5">
                <p class="m-0 text-white"><a class="text-white" href="{% url 'home' %}">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">Change Password</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Contact Start -->
    <div class="container-fluid pt-o">
        <div class="container">
            <div class="section-title">
                <h2 class="text-primary text-uppercase" style="letter-spacing: 2px;">Change Password</h2>
            </div>
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Message: </strong> {{message}}
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-2 pb-5">
                </div>
                <div class="col-md-8 pb-5">
                    <div class="contact-form font-weight-bold" style="color:red;">
                        <div id="success"></div>
                        <form method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <div>
                                <button class="btn btn-primary btn-block font-weight-bold py-3" type="submit">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-2 pb-5">
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


{% endblock %}