{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h2 class="display-4 mb-3 mt-0 mt-lg-5 text-primary text-uppercase">Welcome</h2>
            <div class="d-inline-flex mb-lg-5">
                <h2 class="m-0 text-white">* Food That Fits Your Lifestyle & Health *</h2>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container-fluid py-0">
        <div class="container">
            <div class="section-title">
                <h2 class="text-primary text-uppercase" style="letter-spacing: 2px;">The CliffNeck Restaurant Story</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 py-0 py-lg-5">
                    <h2 class="mb-3">About Us</h2>
                    <h5 class="mb-3">CliffNeck is a contemporary Parisian bistro showcasing techniques rooted in France but influenced by our regionality, carefully sourcing only the best ingredients. </h5>
                    <p>Building off the vibrant food scene of Paris's Neo-bistro movement, CliffNeck displays an inspiring take on French cuisine in a relaxing environment.  This enables our genuine approach to food & hospitality to shine.</p>
                    <a href="{% url 'about' %}" class="btn btn-primary font-weight-bold py-2 px-4 mt-2">Learn More</a>
                </div>
                <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/about.png' %}" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-4 py-0 py-lg-5">
                    <h2 class="mb-3">Our Vision</h2>
                    <h5 class="mb-2">CliffNeck is a contemporary Parisian bistro showcasing techniques rooted in France.</h5>
                    <p>At CliffNeck, we believe in everything at its prime. Our focus is to bring the best and most responsibly sourced ingredients to the table.</p>
                    <h5 class="mb-2"><i class="fa fa-check text-primary mr-3"></i>Environmental friendly place</h5>
                    <h5 class="mb-2"><i class="fa fa-check text-primary mr-3"></i>Organic garden</h5>
                    <h5 class="mb-2"><i class="fa fa-check text-primary mr-3"></i>Highly rated and awarded</h5>
                    <a href="{% url 'about' %}" class="btn btn-primary font-weight-bold py-2 px-4 mt-2">Learn More</a>
                </div>
            </div>
            <hr>
            <hr>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="container-fluid pt-0">
        <div class="container">
            <div class="section-title">
                <h2 class="text-primary text-uppercase" style="letter-spacing: 2px;">What We Bring to The Table</h2>
                <a href="{% url 'gallery' %}" class="btn btn-primary font-weight-bold py-2 px-4 mt-2">Our Gallery</a>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" style="width: 220px; height: 150px; object-fit: cover;" src="{% static 'img/img2.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-truck service-icon"></i>Fastest Door Delivery</h4>
                            <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor sed est sit
                                invidunt, dolore tempor diam ipsum takima erat tempor</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" style="width: 220px; height: 150px; object-fit: cover;" src="{% static 'img/img6.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-wine-bottle service-icon"></i>Fresh Beverages</h4>
                            <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor sed est sit
                                invidunt, dolore tempor diam ipsum takima erat tempor</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" style="width: 220px; height: 150px; object-fit: cover;" src="{% static 'img/img4.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-award service-icon"></i>Best Quality Food</h4>
                            <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor sed est sit
                                invidunt, dolore tempor diam ipsum takima erat tempor</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" style="width: 220px; height: 150px; object-fit: cover;" src="{% static 'img/img5.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-table service-icon"></i>Online Table Booking</h4>
                            <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor sed est sit
                                invidunt, dolore tempor diam ipsum takima erat tempor</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <hr>
        </div>
    </div>
    <!-- Service End -->


    <!-- Reservation Start -->
    <div class="container-fluid my-5">
        <div class="container">
            <div class="reservation position-relative overlay-top overlay-bottom">
                <div class="row align-items-center">
                    <div class="col-lg-6 my-5 my-lg-0">
                        <div class="p-5">
                            <div class="mb-4">
                                <h1 class="display-3 text-primary">30% OFF</h1>
                                <h1 class="text-white">For Online Reservation</h1>
                            </div>
                            <p class="text-white">Lorem justo clita erat lorem labore ea, justo dolor lorem ipsum ut sed eos,
                                ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea</p>
                            <ul class="list-inline text-white m-0">
                                <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</li>
                                <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</li>
                                <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</li>
                            </ul>
                            <a href="{% url 'reservation' %}" class="btn btn-primary font-weight-bold py-2 px-4 mt-2">Make Reservation</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid mb-3 mb-sm-0" style="width: 500px; height: 350px; object-fit: cover;" src="{% static 'img/img5.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Reservation End -->


    <!-- Testimonial Start -->
    <div class="container-fluid py-0">
        <div class="container">
            <div class="section-title">
                <h2 class="text-primary text-uppercase" style="letter-spacing: 2px;">Fun Facts</h2>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item">
                    <div class="d-flex align-items-center mb-3">
                        <div class="ml-3">
                            <h4> ~ Les Paul</h4>
                            <p class="m-0">“This guitar is such a pal. It’s a psychiatrist. It’s a doggone bartender. It’s a housewife. This guy is everything. Whenever I find that I’ve got a problem, I’ll go pick my guitar up and play. It’s the greatest pal in the whole world.”</p>
                        </div>
                    </div> 
                </div>
                <div class="testimonial-item">
                    <div class="d-flex align-items-center mb-3">
                        <div class="ml-3">
                            <h4> ~ Al McGuire</h4>
                            <p class="m-0">“I think everyone should go to college and get a degree and then spend six months as a bartender and six months as a cabdriver. Then they would really be educated.”</p>
                        </div>
                    </div> 
                </div>
                <div class="testimonial-item">
                    <div class="d-flex align-items-center mb-3">
                        <div class="ml-3">
                            <h4> ~ Jack McDevitt</h4>
                            <p class="m-0">“There are few professions whose primary objective is to advance the cause of humanity rather than simply to make money or accrue power. Among this limited group of humanitarians I would number teachers, nurses, bookstore owners, and bartenders.”</p>
                        </div>
                    </div> 
                </div>
                <div class="testimonial-item">
                    <div class="d-flex align-items-center mb-3">
                        <div class="ml-3">
                            <h4> ~ Les Paul</h4>
                            <p class="m-0">“Now I need to take a piece of wood and make it sound like the railroad track, but I also had to make it beautiful and lovable so that a person playing it would think of it in terms of his mistress, a bartender, his wife, a good psychiatrist – whatever.”</p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


{% endblock %}