{% extends 'base.html' %}
{% load static %}
{% block content %}



    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Reservation</h1>
            <div class="d-inline-flex mb-lg-5">
                <p class="m-0 text-white"><a class="text-white" href="{% url 'home' %}">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">Reservation</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Reservation Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="reservation position-relative overlay-top overlay-bottom">
                <div class="row align-items-center">
                    <div class="col-lg-6 my-5 my-lg-0">
                        <div class="p-5">
                            <div class="mb-4">
                                <h2 class="display-3 text-primary">For Online Reservation</h2>
                            </div>
                            <p class="text-white">The CliffNeck Restaurant highly recommends that our diners reserve a table in 
                                advance. Our team will get back to you with confirmation by phone/email.</p>
                            <ul class="list-inline text-white m-0">
                                <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Table Holding is 45 minutes.</li>
                                <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Above 15 pax kindly call the restaurants.</li>
                                <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Last Order – 2130HRS</li>
                                <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Kitchen closes at 2200HRS</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-white p-5" style="background: rgba(51, 33, 29, .8);">
                            <h1 class="text-white mb-4 mt-5">Book Your Table</h1>
                            <form method="POST", class="mb-5">
                                {% csrf_token %}
                                {{form.as_p}}
                                <div>
                                    <button class="btn btn-primary btn-block font-weight-bold py-3" type="submit">Book Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Reservation End -->
{% endblock %}

